.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 1200px;

  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  align-content: center;
  vertical-align: baseline;
}

.horizont {
  display: flex;
  justify-content: space-between;
}

.center {
  text-align: center;
}

.title {
  color: $main-text-color;
  @include fonts (36px, bold, 1.16, 0.03em);

  margin-bottom: 50px;
}