.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 480px;
  
  align-content: center;
  vertical-align: baseline;

  // @media scrin and (min-width: 768px) {
  //   width: 768px
  // }
}

// .horizont {
//   display: flex;
//   justify-content: space-between;
// }

.center {
  text-align: center;
}

.title {
  color: $main-text-color;
  @include fonts (28px, bold, 1.17, 0.03em);

  padding-bottom: 30px;
}