.subscription {
  margin-top: 12px;
  margin-left: auto;

  &-email {
    display: block;
    height: 50px;
    max-width: 450px;
    // width: 100%;
    align-items: center;

    padding: 15px 16px;
    margin: 0px auto 20px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    outline: none;

    background-color: $second-background-color;
    color: rgba(255, 255, 255, 0.6);
    font-family: $main-font-family;
    @include fonts(16px, normal, 1.25, 0.03em);

    @media screen and (max-width: 479px) {
      width:100%; 
    }
    @media screen and (min-width: 480px) and (max-width: 1199px) {
      width:450px; 
    } 
     
    @include for-size(tablet) {
      display: block;
      max-width: 450px;
      width: 100%;

      margin-right: auto;
      margin-left: auto;
    }

    @include for-size(desktop) {
      display: inline-block;
      width: 358px;
      margin-right: 12px;
    }
  }
}

.footer-button {
  width: 200px;
  height: 50px;

  align-items: center;
  text-align: center;

  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;

  background-color: $nav-button-color;
  color: $background-color;
  font-family: $main-font-family;
  @include fonts(16px, bold, 1.87, 0.06em);

  @include transition(background-color);

  &:focus {
    background-color: $background-color;
    color: $nav-button-color;
  }
}

.send-fly-svg {
  width: 24px;
  height: 24px;
  vertical-align: middle;

  margin-left: 10px;

  fill: $background-color;
}

.footer-button:focus .send-fly-svg {
  fill: $nav-button-color;
}
