html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

figure {
  margin: 0;
  padding: 0;
}

body {
  font-family: $main-font-family;
  background-color: $background-color;
  margin: 0px;
}

// header {
//   padding: 25px 0px 0px 0px;
// }

footer {
  background-color: $second-background-color;
}

a {
  text-decoration: none;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  margin: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.main-container {
  @include for-size(desktop) {
    // width: 1600px;
    margin-right: auto;
    margin-left: auto;
  }
}

.container {
  width: 100%;

  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  // align-content: center;
  // vertical-align: baseline;

  @include for-size(mobile) {
    width: 480px;
  }

  @include for-size(tablet) {
    width: 768px;
  }

  @include for-size(desktop) {
    width: 1200px;
  }
}

.horizont {
  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.center {
  text-align: center;
}

.title {
  color: $main-text-color;
  @include fonts(28px, bold, 1.17, 0.03em);

  margin-bottom: 30px;

  @include for-size(desktop) {
    @include fonts(36px, bold, 1.16, 0.03em);
  }
}
