@mixin fonts ($fs, $fw, $lh, $ls) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
}

@mixin transition ($tp, $td: 250ms, $ttf: $general-ttf) {
  transition-property: $tp;
  transition-duration: $td;
  transition-timing-function: $ttf;
}