// colors
$main-text-color: #212121;
$second-text-color: #757575;
$background-color: #ffffff;
$second-background-color: #2f303a;
$nav-button-color: #2196f3;
$third-background-color: #f5f4fa;
$svg-color: #afb1b8;

// fonts
$main-font-family: "Roboto", sans-serif;


// transition-timing-function
$general-ttf: cubic-bezier(0.4, 0, 0.2, 1);
