.clients {
  width: 100%;

  padding: 60px 15px;
  margin-right: auto;
  margin-left: auto;

  align-content: center;
  vertical-align: baseline;

  @include for-size(desktop) {
    width: 1200px;
  }
}

.horizont-clients {
  // @media screen and(max-width: 480px) {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  // justify-content: space-between;
  // }
}
.clients-item {
  flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-top: 30px;

  @media screen and(max-width: 480px) {
    justify-content: center;
  }

  @include for-size(tablet) {
    width: calc((100% - 60px) / 3);
  }

  @include for-size(desktop) {
    width: calc((100% - 150px) / 6);
  }

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (max-width: 1199px) {
    &:first-child {
      margin-bottom: 30px;
    }
  }
}

.clients-link {
  display: block;
  // width: 210px;
  height: 90px;

  @include for-size(tablet) {
    width: 226px;
    height: 90px;
  }

  @include for-size(desktop) {
    width: 170px;
    height: 90px;
  }
}

.clients-icons-svg {
  width: 210px;
  height: 90px;

  border: 1px solid $svg-color;
  border-radius: 4px;

  fill: $svg-color;

  @include transition(fill);

  @include for-size(tablet) {
    width: 226px;
    height: 90px;
  }

  @include for-size(desktop) {
    width: 170px;
    height: 90px;
  }
}

.clients-link:hover .clients-icons-svg,
.clients-link:focus .clients-icons-svg {
  fill: $nav-button-color;
  border-color: $nav-button-color;
}
