.clients {
  width: 100%;

  padding: 60px 15px;
  margin-right: auto;
  margin-left: auto;

  align-content: center;
  vertical-align: baseline;

  @include for-size(mobile) {
    width: 480px;
  }

  @include for-size(tablet) {
    width: 768px;
  }

  @include for-size(desktop) {
    width: 1200px;
  }

  &-item {
    margin-top: 30px;
    margin-left: 30px;
    width: calc(100% / 2 - 30px);

    // height: 90px;
    // max-width: 210px;
    // max-width: calc((100% - 30px) / 2);

    // @include for-size(mobile) {
    //   width: calc((100% - 30px) / 2);
    // }

    @include for-size(tablet) {
      width: calc(100% / 3 - 30px);
    }

    @include for-size(desktop) {
      width: calc(100% / 6 - 30px);
    }

    // @media screen and (max-width: 767px) {
    //   &:not(:last-child) {
    //     margin-bottom: 30px;
    //   }
    // }
  
    // @media screen and (max-width: 1199px) {
    //   &:first-child {
    //     margin-bottom: 30px;
    //   }
    // }
  }

  &-link {
    display: inline-block;
    width: 100%;
    height: 90px;

    @include for-size(tablet) {
      width: 226px;
      height: 90px;
    }
  
    @include for-size(desktop) {
      width: 170px;
      height: 90px;
    }
  }
}

.horizont-clients {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;

  // @include for-size(mobile) {
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: space-between;
  // }
}

.clients-icons-svg {
  width: 100%;
  height: 90px;

  border: 1px solid $svg-color;
  border-radius: 4px;
  
  fill: $svg-color;

  @include transition (fill);

  @include for-size(tablet) {
    width: 226px;
    height: 90px;
  }

  @include for-size(desktop) {
    width: 170px;
    height: 90px;
  }
}

.clients-link:hover .clients-icons-svg, 
.clients-link:focus .clients-icons-svg {
  fill: $nav-button-color;
  border-color: $nav-button-color;
}