.features {
  padding: 94px 0;

  &-title {
    margin-bottom: 10px;
    margin-top: 30px;

    color: $main-text-color;
    @include fonts (14px, bold, 1.4, 0.03em);
    text-transform: uppercase;
  }

  &-description {
    margin-bottom: 0;

    color: $second-text-color;
    @include fonts (14px, normal, 1.7, 0.03em);
  }

  &-item {
    width: calc((100% - 90px) / 4);

    margin-right: 30px;
  }

  &-item:last-child {
    margin-right: 0px;
  }
}

.antenna::before {
  content: "";
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  background-image: url(../images/icon/antenna.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.clock::before {
  content: "";
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  background-image: url(../images/icon/clock.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.plane::before {
  content: "";
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  background-image: url(../images/icon/diagram.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.cosmonaut::before {
  content: "";
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  background-image: url(../images/icon/astronaut.svg);
  background-repeat: no-repeat;
  background-position: center;
}