
.features {
  width: 100%;

  padding: 60px 15px;
  margin-right: auto;
  margin-left: auto;

  align-content: center;
  vertical-align: baseline;

  @include for-size(mobile) {
    width: 480px;
  } 

  @include for-size(tablet) {
    width: 768px;
    padding-right: 15px;
    padding-left: 15px;
  } 

  @include for-size(desktop) {
    width: 1200px;
  } 

  &-title {
    margin-bottom: 10px;
    margin-top: 30px;

    color: $main-text-color;
    @include fonts (14px, bold, 1.14, 0.03em);
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }

  &-description {
    margin-bottom: 0;

    color: $second-text-color;
    @include fonts (14px, normal, 1.71, 0.03em);
  }

  &-item {

    @include for-size(tablet) {
      width: calc((100% - (30px)) / 2);
    }

    @include for-size(desktop) {
      width: calc((100% - 90px) / 4);
    }
  }

  @media screen and (max-width: 767px) {
    &-item:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (max-width: 1199px) {
    &-item:first-child {
      margin-bottom: 30px;
    }
  }
}

.features-padding {
  padding-right: 30px;
}

.antenna::before {
  content: "";
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  background-image: url(../images/icon/antenna.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.clock::before {
  content: "";
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  background-image: url(../images/icon/clock.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.plane::before {
  content: "";
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  background-image: url(../images/icon/diagram.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.cosmonaut::before {
  content: "";
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  background-image: url(../images/icon/astronaut.svg);
  background-repeat: no-repeat;
  background-position: center;
}