.hero {
  max-width: 480px;
  height: 400px;
  background-image: radial-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/new-photo/hero-bg-480.jpg);

  background-size: 480px 400px;

  margin-right: auto;
  margin-left: auto;

  @media not all,
    screen and (-webkit-min-device-pixel-ratio: 2),
    not all,
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: radial-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/new-photo/hero-bg-480@2x.jpg);
  }

  @include for-size(tablet) {
    max-width: 768px;
    height: 400px;
    background-image: radial-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/new-photo/hero-bg-768.jpg);
    background-size: 768px 400px;

    @media not all,
      screen and (-webkit-min-device-pixel-ratio: 2),
      not all,
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: radial-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/new-photo/hero-bg-768@2x.jpg);
    }
  }

  @include for-size(desktop) {
    max-width: 1600px;
    height: 600px;
    background-image: radial-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/new-photo/hero-bg-1600.jpg);
    background-size: 1600px 600px;

    @media not all,
      screen and (-webkit-min-device-pixel-ratio: 2),
      not all,
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: radial-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/new-photo/hero-bg-1600@2x.jpg);
    }
  }

  &-center {
    text-align: center;
  }

  &-title {
    margin-bottom: 30px;

    color: $background-color;
    font-family: $main-font-family;
    @include fonts(26px, 900, 1.61, 0.06em);

    text-align: center;
    text-transform: uppercase;

    @include for-size(desktop) {
      @include fonts(44px, 900, 1.61, 0.06em);
    }
  }
}

.overlay {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-repeat: no-repeat;

  @include for-size(tablet) {
    max-width: 768px;
  }

  @include for-size(desktop) {
    max-width: 1600px;
    height: 600px;
  }
}

.hero-container {
  display: inline-block;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 360px;
  @include for-size(desktop) {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 700px;
  }
}
