.hero {
  background-image: radial-gradient( rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  
  padding: 200px 0;

  &-title {
    margin-bottom: 30px;

    color: $background-color;
    font-family: $main-font-family;
    @include fonts (44px, 900, 1.36, 0.06em);
    
    text-align: center;
    text-transform: uppercase;
  }
}