.header-line {
  border-bottom: 1px solid #ECECEC;
}

/* Main */

.portfolio-padding {
  width: 480px;
  padding: 60px 15px 30px 15px;
  align-items: center;

  @include for-size(tablet) {
    width: 768px;
  }

  @include for-size(desktop) {
    width: 1200px;
    margin-left: 200px;
  }
}

.portfolio-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.button-filter {
  display: inline-block;

  padding: 6px 22px;

  border: 1px solid transparent;
  border-radius: 4px;

  background-color: $third-background-color;
  color: $main-text-color;
  font-family: $main-font-family;
  @include fonts (16px, 500, 1.6, 0.03em);

  @include transition (background-color color box-shadow);
  
  &:hover,
  &:focus {
    background-color: $nav-button-color;
    color: $background-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.filter {
  @include for-size(tablet) {
    display: flex;
    justify-content: center;
  } 
  // display: flex;
  // justify-content: center;
  // flex-direction: row;



  margin-bottom: 25px;

  &-item {
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 15px;

    @media screen and (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @include for-size(tablet) {
      display: flex;
    } 
  }
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;

  // @include for-size(tablet) {
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: space-between;
  // } 

  &-item {
    background-color: $background-color;
    border: 1px solid #eeeeee;
    box-sizing: border-box;



    margin-top: 30px;
    margin-left: 30px;
    width: 100%;


    @include for-size(tablet) {
      width: calc(100% / 2 - 30px);
    }

    @include for-size(desktop) {
      width: calc(100% / 3 - 30px);
    }






    // @include for-size(tablet) {
    //   width: calc((100% - 30px) / 2);
    // }

    // @include for-size(desktop) {
    //   width: calc((100% - 60px) / 3);
    // }
  }

  &-bottom {
    margin-bottom: 30px;
  }

  &-link {
    position: relative;
    display: block;
  }

  &-name {
    padding: 20px 24px;
  }
}

.shadow {
  @include transition (box-shadow);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.projects-title {
  margin-bottom: 4px;


  color: $main-text-color;
  @include fonts (18px, bold, 2, 0.06em);
}

.projects-kind {
  color: $second-text-color;
  @include fonts (16px, normal, 1.8, 0.03em);
}

.portfolio-div-overlap {
  position: relative;

  overflow: hidden;
}

.portfolio-overlap {
  position: absolute;
  top: 294px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 294px;
  
  padding: 63px 24px;

  background-color: rgba(33, 150, 243, 0.9);
  color: $background-color;
  font-family: $main-font-family;
  @include fonts (18px, 400, 1.5, 0.03em);

  transition-duration: 250ms;
  transition-timing-function: $general-ttf;
}

.portfolio-link:hover .portfolio-overlap,
.portfolio-link:focus .portfolio-overlap {
  transform: translateY(-294px);
}