// .team-color {
//   @include for-size(desktop) {
//     background-color: $third-background-color;
//   }
// }

.team {
  width: 100%;

  padding: 60px 15px 30px 15px;
  margin-right: auto;
  margin-left: auto;

  align-content: center;
  vertical-align: baseline;

  background-color: $third-background-color;

  @include for-size(desktop) {
    width: 1200px;
  }

  &-name {
    margin-bottom: 10px;

    color: $main-text-color;
    @include fonts(16px, 500, 1.18, 0.03em);

    text-align: center;
  }

  &-position {
    margin-bottom: 16px;

    color: $second-text-color;
    @include fonts(16px, normal, 1.18, 0.03em);

    text-align: center;
  }

  &-item {
    background: $background-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 30px;
    max-width: 450px;
    margin-right: auto;
    margin-left: auto;

    @include for-size(tablet) {
      width: calc((100% - 30px) / 2);
    }

    @include for-size(desktop) {
      width: calc((100% - 90px) / 4);
    }

    @media screen and (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }

  &-img {
    margin-bottom: 30px;
  }
}
